*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ebf5f7;
    font-family: 'Markazi Text', serif;
}

li,a{
    font-weight: 500;
    font-size: 16px;
    color:rgba(65, 94, 84,1);
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo{
    height: 60px;
    width: 60px;
    cursor: pointer;
    margin-left: 40px;

}

.nav-links{
    list-style: none;

}

.nav-links li{
    display: inline-block;
    padding:10px 20px;
}

.nav-links li a{
transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: #f4ce14;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
    color:white;
}

button:hover{
    background-color: rgba(0, 78, 51, 0.3);
}


h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;
}


section{
    display: flex;
    padding: 20px 10px;
}

article{
    flex:1;
}

footer{
    display: flex;
}

footer div{
    flex: 1;
}

.splitart{
    display:flex ;
    background-color: #495e57;

}

.splitart div{
    flex: 100%;
}

.lemon-us{
    background-color: #495e57;
}
 
.lemon-us  p{
    background-color: #495e57;
}

.lemon-us  h2{
    background-color: #495e57;
}

article button{
    
        padding: 9px 25px;
        background-color:#f4ce14;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin-right: 20px;
        color:white;
    
}